* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Rubik", sans-serif;
}

/* NAV SECTION 1  */

.nav_section_1 {
  background-color: #000;
}
.sec1_right_content {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
.sec1_right_icon {
  margin-right: 15px;
}

.sec1_right_icon a {
  text-decoration: none;
}
.sec1_right_icon a i {
  margin-right: 4px;
}
.sec1_right_icon2 a {
  border-right: 1px solid #888;
  padding-right: 15px;
}
.sec1_right_icon2 .last-child {
  border: none;
}
.right_icon_3 i {
  margin-left: 5px;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100px;
  min-width: 130px;
}
/* NAV SECTION 2  */

.nav_section_2 {
  background-color: #1c2454;
  padding: 35px 0px;
  border-bottom: 1px solid #e5e5e5;
}
.section_2_img a img {
  width: 170px;
  margin-left: 5px;
}
.section_2_support {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 280px;
  margin-right: 10px;
}
.support_icon i {
  font-size: 35px;
  margin-top: 13px;
  /* margin-left: 30px; */
}
.support_text {
  margin-right: 50px;
}
.support_text p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 0px;
  margin-top: 8px;
}
.support_text h4 {
  color: #e52f06;
  font-size: 18px;
}
.section_2_input {
  width: 640px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
}
.input_categories {
  flex-basis: 176px;
  background-color: #fff;
  padding: 13px 17px;
  margin-top: 8px;
  border-right: 1px solid #e5e5e5;
}
.input_categories a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.input_categories i {
  color: #333;
  margin-left: 15px;
}
.input_box {
  flex-basis: 410px;
  margin-top: 8px;
}
.input_box input {
  border: none;
  width: 410px;
  padding: 13px 15px;
}
.input_box input:focus {
  outline: none;
}
.input_btn {
  margin-top: 8px;
}
.input_btn button {
  background-color: #e52f06;
  padding: 12px 13px;
  border-radius: 0px;
}
.input_btn i {
  font-size: 20px;
}
.input_btn button:hover {
  background-color: #333;
}
.section_2_cart {
  border-radius: 0px;
  width: 140px;
  padding: 0px;
  margin-top: 8px;
  padding-bottom: 1px;
  margin-left: 30px;
}
.cart_icon {
  padding-right: 17px;
  z-index: 1;
}
.cart_icon i {
  margin-top: 12px;
  font-size: 23px;
  margin-left: 15px;
}
.cart_text {
  margin-right: 15px;
}
.cart_text p {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
  color: #333;
}
.cart_text span {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}
.cart_span {
  background-color: #e52f06;
  padding: 0px 6px;
  border-radius: 100%;
  z-index: 2;
  top: 5px;
  left: 25px;
}
.cart_span span {
  font-size: 14px;
  color: #fff;
}
.cart_icon2 i {
  margin-top: 15px;
}
/* THIS IS NAV SECTION 3  */
.nav_section_3 {
  background-color: #1c2454;
}
.section_3_left {
  background: linear-gradient(to right, #b873ff, #67dfff);
  width: 320px;
  margin-left: 10px;
}
.section3_left_icon {
  margin-left: 20px;
  margin-right: 10px;
}
.section3_left_icon i {
  font-size: 28px;
  margin-top: 23px;
}
.section3_text {
  margin-right: 20px;
  margin-left: 10px;
}
.section3_text p {
  margin-top: 12px;
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
}
.section3_left_icon2 {
  margin-left: 50px;
}
.section3_left_icon2 i {
  margin-top: 26px;
  font-size: 20px;
}
.navMenu li {
  float: left;
  padding: 0px 10px;
  list-style-type: none;
  padding-right: 15px;
}
.navItem a {
  font-size: 15px;
  font-weight: 500;
  color: #e52f06;
  text-decoration: none;
}
.navBar ul {
  margin-top: 23px;
}
.navItem a i {
  margin-left: 5px;
}
.navItem-2 a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.navItem-2 a:hover {
  color: #e52f06;
  transition: 0.5s;
}

/* THIS IS SLIDER SECTION  */

.sliderCaption h2 {
  font-weight: lighter;
  font-size: 40px;
}
.sliderCaption h1 {
  margin-bottom: 30px;
  font-size: 55px;
}
.sliderCaption p {
  margin-bottom: 40px;
  font-weight: lighter;
  font-size: 20px;
}
.sliderCaption a {
  margin-bottom: 45px;
  background-color: #e52f06;
  color: #fff;
  border-radius: 0px;
  padding: 15px 40px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  transition: 0.5s;
}
.sliderCaption a:hover {
  background-color: #333;
  transition: 0.5s;
}
.slider-2 a img {
  overflow: hidden;
}

/* THIS IS SERVICE AREA  */

.service_area {
  border: 1px solid #e5e5e5;
}
.service_icon img {
  width: 40px;
}
.service_text {
  border-right: 1px solid #e5e5e5;
  padding-right: 40px;
}
.service_text p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #888;
}
.payment .service_text {
  border: none;
}

/* THIS IS PRODUCT BUTTON SECTION  */
.button-1 a {
  background: linear-gradient(to right, #b873ff, #67dfff);
  padding: 15px 35px;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 50px;
}
.button-2 a {
  padding: 15px 35px;
  font-weight: 500;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
}
.button-2 a:hover {
  border: 1px solid #e5e5e5;
}

/* THIS IS PRODUCT SECTION  */

.single_card {
  flex-basis: 240px;
}
.card-1 {
  border-radius: 0px;
  width: 240px;
  /* margin-right: 10px; */
}
/* .product_image {
  position: relative;
} */
/* .product_image a {
  display: block;
  position: relative;
} */
.product_image a .first-image {
  width: 100%;
}
.card-icon {
  color: #e1e1e1;
  font-size: 14px;
  margin-bottom: 14px;
}
.card-text a {
  text-decoration: none;
}
.card-text a p {
  color: #333;
  font-size: 14px;
  transition: 0.7s;
}
.card-price {
  color: #e73e19;
  margin-bottom: 15px;
}
.card-1:hover {
  border: 1px solid #333;
}
.card-text a p:hover {
  color: #e52f06;
  transition: 0.7s;
}
.card-2 {
  margin-left: 25px;
  border-radius: 0px;
  width: 240px;
}
.card-icon2 {
  font-size: 14px;
  margin-bottom: 14px;
  color: #f3cd1e;
}
.card-price span {
  text-decoration: line-through;
  font-weight: 500;
  margin-top: 5px;
  margin-right: 10px;
  color: #888;
}
.card_disc span {
  background-color: #e52f06;
  padding: 15px 8px;
  border-radius: 50px;
  color: #fff;
}
.card_image {
  position: relative;
  z-index: 1;
}
.card_disc {
  position: absolute;
  z-index: 2;
  top: 26px;
  right: 13px;
}
.card-2:hover {
  border: 1px solid #333;
}
.card-3 {
  margin-left: 50px;
  border-radius: 0px;
  width: 240px;
}
.card-3:hover {
  border: 1px solid #333;
}
.card-4 {
  margin-left: 75px;
  border-radius: 0px;
  width: 240px;
}
.card-4:hover {
  border: 1px solid #333;
}
.card-5 {
  margin-left: 100px;
  border-radius: 0px;
  width: 240px;
}
.card-5:hover {
  border: 1px solid #333;
}
#banner_section {
  padding: 80px 0px !important;
}
/* THIS IS CATEGORIES SECTION  */

.left_count {
  background: linear-gradient(to right, #b873ff, #67dfff);
  padding: 30px 0px;
}
.count_title {
  margin-left: 30px;
  margin-bottom: 20px;
  /* color: #fff; */
}
.count_time ul {
  margin: 0px;
}
.count_time ul li {
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}
.count_time ul li span {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 9px 9px;
}
.left_details {
  border: 2px solid #e5e5e5;
}
.thumb_1 a img {
  width: 70px;
  height: 72px;
  border: 1px solid #e5e5e5;
}
.img_title a {
  text-decoration: none;
}
.img_title a h2 {
  font-weight: 400;
  margin-top: 10px;
}
.img_price h2 {
  font-size: 25px;
  color: #e52f06;
}
.img_price span {
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
  color: #888;
  margin-left: 35px;
}
.img_cart {
  margin-top: 15px;
}
.img_cart a {
  text-decoration: none;
  font-weight: 600;
  background-color: #333;
  padding: 15px 30px;
  color: #fff;
  transition: 0.7s;
}
.img_cart a:hover {
  background-color: #e52f06;
  transition: 0.7s;
}
.img_price_cart {
  margin-bottom: 38px;
  margin-top: 20px;
}
.categories_title h2 {
  position: relative;
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 20px;
  z-index: 1;
}
.categories_title h2::before {
  content: "";
  width: 92px;
  height: 2px;
  color: #e52f06;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}
.categories_item {
  margin-top: 60px;
}
.item_card {
  width: 270px;
  height: 220px;
  border-radius: 0px;
}
.item_card img {
  width: 150px;
  height: 150px;
  text-align: center;
  align-self: center;
}
.item_card:hover {
  border: 1px solid #888;
  color: #e52f06;
}
.card_name p {
  font-weight: 600;
}
.blog_title h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  display: inline-block;
  padding-bottom: 20px;
  font-size: 24px;
}
.blog_title h2::before {
  content: "";
  width: 92px;
  height: 2px;
  background: #e52e06;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.blog_card {
  border: none;
  position: relative;
  z-index: 1;
}
.card_date {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}
.card_date h4 {
  margin: 0px;
  background-color: #000;
  color: #fff;
  padding: 12px;
  font-size: 28px;
  font-weight: 400;
}
.card_date p {
  margin-top: -4px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 0px;
}
.blog_text h5 {
  transition: 0.7s;
  font-size: 18px;
  color: #333;
}
.blog_text h5:hover {
  color: #e52e06 !important;
  cursor: pointer;
  transition: 0.7s;
}
#author_section {
  background-image: url("../img/bg_testimonial.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 130px 0px;
}
.author_text p {
  font-size: 17px;
}
/* THIS IS TESTIMONIAL SECTION  */

#testimonial {
  background-image: url("../img/bg-newletter.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}
.testimonial_text h3 {
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
}
.testimonial_text p {
  margin-bottom: 30px;
}
.testimonial_form form input {
  border: 2px solid #e5e5e5;
  color: #a9a9a9;
  height: 60px;
  padding: 0px 10px;
  display: inline-block;
  width: 80%;
}
.testimonial_form form input:focus {
  outline: none;
}
.testimonial_form form button {
  padding: 18px 30px;
  border: none;
  background-color: #e52e06;
  color: #fff;
  font-weight: 500;
  margin-left: 5px;
  transition: 0.7s;
}
.testimonial_form form button:hover {
  background-color: #333;
  transition: 0.7s;
}
/* THIS IS FOOTER SECTION  */
#footer_section {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.footer_1 {
  padding: 80px 0px;
  border-bottom: 1px solid #a9a9a9;
}
.contact_card {
  width: 285px;
}
.contact_header p {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}
.contact_header p::before {
  content: "";
  width: 70px;
  height: 1px;
  background: #e52e06;
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  margin: 0 auto;
}
.contact_info .info_1 {
  margin-bottom: 20px;
}
.contact_info .info_1 i {
  font-size: 13px;
  margin-right: 3px;
}
.contact_info .info_1 span {
  font-size: 13px;
  font-weight: 500;
}
.information_info ul {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.information_info ul li {
  list-style-type: none;
  padding: 7px 0px;
}
.information_info ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.information_info ul li a:hover {
  color: #e52e06;
  margin-left: 7px;
  transition: 0.5s;
}
.footer2_left p a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.footer2_left p a:hover {
  color: #e52e06;
  transition: 0.5s;
}
.footer2_right {
  width: 340px;
  float: right;
}

@media only screen and (max-width: 991px) {
  .carouselSlider {
    margin-bottom: 15px;
  }
  .service_area {
    width: 100%;
    flex-flow: row wrap;
  }
  .product_list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card-4 {
    display: none;
  }
  .card-5 {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .banner_img1 {
    margin-bottom: 20px;
  }
}
