* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Rubik", sans-serif;
}

/* NAV SECTION 1  */

.nav_section_1 {
  background-color: #000;
}
.sec1_right_content {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
.sec1_right_icon {
  margin-right: 15px;
}

.sec1_right_icon a {
  text-decoration: none;
}
.sec1_right_icon a i {
  margin-right: 4px;
}
.sec1_right_icon2 a {
  border-right: 1px solid #888;
  padding-right: 15px;
}
.sec1_right_icon2 .last-child {
  border: none;
}
.right_icon_3 i {
  margin-left: 5px;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100px;
  min-width: 130px;
}
